Package: com.cefix.theme.cfx-blured-v2
Name: cfx_blured_v2 (for SBHTML)
Version: 1.0.0
Architecture: iphoneos-arm
Description: a Theme created by using LPP from JunesIphone. Apply with SBHTML
Homepage: https://chrbas.github.io/repo/index.html
Maintainer: CeFix
Author: CeFix (ion use of LPP)

